h1{
    color: salmon;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    color:salmon;
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

ol{
    margin-left: 25%;
    padding-left: 25%;
    color: goldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;

}

.foto{
    margin-left: 25%;
    display: flex;
    justify-content: center;


}
.fondo{
    background-color: aqua;
}